html, body {
    margin: 0;
    padding: 0;
	background: #fff;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}

h2 {
    font-size: 50px;
    font-weight: normal;
    padding: 0;
    margin: 0 0 35px;
}

h3 {
    font-size: 40px;
    font-weight: normal;
    padding: 0;
}

ul {
	margin: 0;
}

ul li {
	list-style-type: none;
    display: inline;
}

nav {
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    text-align: center;
	padding: 20px 0;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
    color: #000;
    font-size: 24px;
}

.title {
    background-image: url("images/title-background.png");
    background-size: cover;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 100px 0 150px;
    width: 100%;
    max-width: 530px;
    height: auto;
}

.panel {
    width: 70%;
    margin: auto;
}

.section {
    padding: 30px 0;
    text-align: center;
}

.story, .screenshots, .mentions {
    background: #000;
    color: #fff;
}

.mentions {
    font-size: 12px;
}

.characters {
    background: #154d8c;
    color: #fff;
    overflow: hidden;
}

.responsive-columns {
    display: flex;
    flex-direction: row;
}

.character {
    position: relative;
    padding-top: 90px;
    height: 750px;
    text-align: center;
}

.character h3 {
    margin: 0 0 15px;
}

.character img {
    position: absolute;
    bottom: 0px;
    margin: auto;
    left: 0;
    right: 0;
}

.quote {
    background-color: rgba(0, 0, 0, .75);
    font-size: 18px;
    padding: 10px 0 0 0;
    position: absolute;
    bottom: 90px;
    width: 100%;
}

.swiper-container {
    overflow: visible;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.screenshot-img {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.social {
    margin: 0 5px;
}



@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }
    
    .title {
        margin-top: 0;
    }
}